.footer_wrapper {
    background-color: #EFDBD0;
    .footer-main {
        display: flex;
        justify-content: space-between;
        padding-top: 66px;
        margin-bottom: 61px;

        .footer-main_left {
            
            .footer-main_left-label {
                font-weight: 500;
                font-size: 2.2rem;
                line-height: 127.2%;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                margin-bottom: 14px;
            }
            .footer-main_left-content {
                font-size: 1.5rem;
                line-height: 22px;
                margin-bottom: 18px;
            }
            .footer-main_left-input {
                position: relative;
                display: flex;
                width: 100%;
                height: 50px;
                margin-bottom: 31px;

                input {
                    border: 1px solid #30292A;
                    border-radius: 64px;
                    flex: 1 1;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 1.5rem;
                    line-height: 22px;
                    padding-left: 20px;
                }

                button {
                    border: 1px solid #30292A;
                    border-radius: 64px;
                    flex: 1;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 35%;
                    background-color: var(--text-color);
                    color: var(--white-color);
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 18px;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    padding-top: 3px;
                }
                
            }

            .footer-main_left-logo {
                ion-icon {
                    font-size: 44px;
                }

                ion-icon ~ ion-icon {
                    margin-left: 36px;

                }
            }
        }

        .footer-main_lists {
            display: flex;
            justify-content: space-between;
            min-width: 600px;
            .footer-main_list-label {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 22px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }

            .footer-main_list {

                a {
                    font-size: 1.6rem;
                    line-height: 33px;
                    color: var(--content-color);
                }
            }

            &:nth-child(2) {
                margin-right: 80px;
            }
        }

    }

    .footer-down {
        padding-bottom: 49px;
        
        div {
            font-size: 1.4rem;
            line-height: 22px;
            color: #786E68;
        }
        
        .footer-down_list {
            display: flex;

            a {
                font-size: 1.4rem;
                line-height: 22px;
                color: #786E68;
                text-decoration: underline;
            }

            li ~ li {
                margin-left: 12px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .footer_wrapper {
        .footer-main {
            flex-direction: column;

            .footer-main_left {
                padding-bottom: 42px;
                .footer-main_left-label {
                    font-size: 2rem;
                    margin-bottom: 7px;
                }

                .footer-main_left-content {
                    font-size: 1.4rem;
                }

                .footer-main_left-logo ion-icon {
                    font-size: 2.2rem;
                }
            }

            .footer-main_lists {
                justify-content: flex-start;
                height: 100%;
                min-width: 0;
                padding: 0 20px;
                padding-top: 45px;
                margin: 0 -20px;
                margin-bottom: -45px;
                background-color: #FBF7F4;

                .footer-main_list ~ .footer-main_list {
                    margin-left: 50px;
                }

                &:nth-child(2) {
                    margin-right: -20px;
                }
            }
        }

        .footer-down {
            margin-top: -17px;
            padding-top: 40px;
            background-color: #FBF7F4;
        }
    }
}