.header-label_top {
  font-size: 1.4rem;
  height: 44px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header-wrapper .header-nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  max-width: 100%;
}
.header-wrapper .header-nav-lists a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-search-info-cart_logo a ~ a {
  padding-left: 20px;
}

.section-1 {
  position: relative;
}
.section-1 .section-1_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section-1 .section-1_img img {
  max-width: 50%;
  height: 100%;
}
.section-1 .section-1_label {
  position: absolute;
  width: 25%;
  top: 140px;
  left: 40px;
  color: var(--white-color);
}
.section-1 .section-1_label :hover {
  cursor: pointer;
  color: rgb(248, 233, 233);
}
.section-1 .section-1_label p {
  font-size: 1.5rem;
  font-weight: 500;
}
.section-1 .section-1_label h1 {
  font-size: 3.8rem;
  font-weight: bold;
  margin: 35px 0;
  line-height: 5rem;
}
.section-1 .section-1_label a {
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
  font-size: 1.5rem;
}

.section-1_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0;
  background-color: var(--background-color);
}
.section-1_lists a {
  font-size: 2rem;
  font-weight: lighter;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
}
.section-1_lists a img {
  padding-bottom: 8px;
  padding-left: 5px;
}
.section-1_lists .slick-list,
.section-1_lists .draggable {
  max-width: 100%;
  max-height: 100%;
}
.section-1_lists .slick-track {
  display: flex;
  justify-content: space-between;
}

.section-2_wrapper {
  margin-left: 40px;
  margin-bottom: 90px;
  margin-top: 72px;
}
.section-2_wrapper .section-2_label {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 29px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.section-2_wrapper .section-2_lists {
  position: relative;
}
.section-2_wrapper .section-2_lists .slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  color: var(--text-color);
  background-color: transparent;
  border: transparent;
}
.section-2_wrapper .section-2_lists .slick-prev ion-icon {
  font-size: 3rem;
  font-weight: lighter;
  cursor: pointer;
}
.section-2_wrapper .section-2_lists .slick-prev ion-icon:hover {
  opacity: 0.7;
}
.section-2_wrapper .section-2_lists .slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
  color: var(--text-color);
  background-color: transparent;
  border: transparent;
}
.section-2_wrapper .section-2_lists .slick-next ion-icon {
  font-size: 3rem;
  font-weight: lighter;
  cursor: pointer;
}
.section-2_wrapper .section-2_lists .slick-next ion-icon:hover {
  opacity: 0.7;
}
.section-2_wrapper .section-2_lists .slick-list {
  width: 100%;
}
.section-2_wrapper .section-2_lists .slick-track {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-2_wrapper .section-2_lists .section-2_list img {
  max-width: 100%;
  max-height: 100%;
}
.section-2_wrapper .section-2_lists .section-2_list div {
  margin-top: 18px;
}
.section-2_wrapper .section-2_lists .section-2_list a {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--text-color);
}
.section-2_wrapper .section-2_lists .section-2_list ~ .section-2_list {
  margin-left: 15px;
}/*# sourceMappingURL=styles.css.map */