.section-4_wrapper {
    margin-top: 69px;
    margin-bottom: 60px;

    h2 {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    .section-4_lists {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-4_item ~ .section-4_item {
            margin-left: 15px;
        }

        button {
            color: var(--text-color);
            background-color: transparent;
            border: transparent;
            
            ion-icon {
                font-size: 3.8rem;
                color: var(--text-color);
            }
        }

        .slick-prev {
            position: absolute;
            z-index: 2;
            left: -25px;
        }

        .slick-next {
            position: absolute;
            z-index: 2;
            right: -12px;
        }
        
        .section-4_item {
            height: 460px;
            border: 1px solid #EEEEEE;
            position: relative;

            .section-4_best-seller-label {
                position: absolute;
                z-index: 3;
                top: 25px;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 16px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background-color: var(--pink-color);
                padding: 8px 8px 6px 8px;
            }

            .section-4_new-label {
                position: absolute;
                z-index: 3;
                top: 25px;
                font-weight: 500;
                font-size: 1.3rem;
                line-height: 16px;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                background-color: #EFDBD0;
                padding: 8px 8px 6px 8px;
            }

            img {
                width: 100%;
                max-height: 100%;
            }

            .section-4_info-item {
                margin-top: 20px;
            }

            .section-4_label-item {
                text-align: center;
            }

            .section-4_type-item {
                font-size: 1.4rem;
                line-height: 17px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }

            .section-4_name-item {
                padding: 20px 0;

                a {
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                }
            }

            .section-4_price-item {
                font-size: 1.6rem;
                line-height: 19px;
                letter-spacing: 0.01em;
            }

            .section-4_reviews-item {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 11px;
                margin-bottom: 20px;
                
                ion-icon {
                    color: var(--pink-color);
                    font-size: 1.4rem;
                }

                p {
                    font-size: 1.4rem;
                    line-height: 17px;
                    color: var(--light-text);
                    font-weight: lighter;
                    margin-left: 8px;
                }
            }
            
            .section-4_add-item {
                text-align: center;
                padding-top: 20px;
                a {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.02em;
                    text-transform: uppercase;
                    padding: 10px 16px 8px 16px;
                    border: 1px solid var(--text-color);
                    border-radius: 63px;
                }
            }
        }

    }

}