.section-9_wrapper {
    margin-top: 30px;
    margin-bottom: 34px;

    .section-9_label {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 34px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            margin-right: 8px;
        }

        p {
            font-size: 16px;
            line-height: 22px;
        }
    }
    .section-9_albums {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 28px;
        
        img {
            width: 19.7%;
        }
    }
}

@media screen and (max-width: 500px) {
    .section-9_wrapper {
        padding: 0 20px;

        .section-9_label {
            flex-direction: column;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                font-size: 2.4rem;
            }
        }

        .section-9_albums {
            flex-wrap: wrap;

            img {
                width: 49%;
                margin-bottom: 7px;

                &:last-child {
                    display: none;
                }
            }
        }
    }
}