.section-1 {
    position: relative;

    .section-1_img {
        display: flex;
        justify-content: center;
        // align-items: center;
        width: 100%;
        height: 100%;

            img {
                max-width: 50%;
            }
    } 

    .section-1-mobile_img {
        display: none;
    }
    
    .section-1_label {
        position: absolute;
        width: 25%;
        top: 140px;
        left: 40px;
        color: var(--white-color);

        :hover {
            cursor: pointer;
            color: rgb(248, 233, 233);
        }

        p {
            font-size: 1.5rem;
            font-weight: 500;
        }

        h1 {
            font-size: 3.8rem;
            font-weight: bold;
            margin: 35px 0;
            line-height: 5rem;
        }

        a {
            color: var(--white-color);
            border-bottom: 1px solid var(--white-color);
            font-size: 1.5rem;
        }
    }
}

.section-1_lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 0;
    background-color: var(--background-color);

    a {
        font-size: 2rem;
        font-weight: lighter;
        color: var(--text-color);
        display: inline-flex;
        align-items: center;

        img {
            padding-bottom: 8px;
            padding-left: 5px;
        }
    }

    // .slick-list, 
    // .draggable {
    //     max-width: 100%;
    //     max-height: 100%;
    // }

    // .slick-track {
    //     display: flex;
    //     justify-content: space-between;
    // }
}

@media screen and (max-width: 500px) {
    .section-1 {
        .section-1_img {
            display: none;
        }

        .section-1-mobile_img {
            display: flex;

            img {
                width: 100%;
            }
        }

        .section-1_label {
            width: 100%;
            padding: 0 20px;
            left: 0;

            p {
                font-size: 1.6rem;
            }

            h1 {
                font-size: 3.4rem;
                margin: 17px 0;
            }

            a {
                font-size: 1.8rem;
            }
        }
    }

    .section-1_lists {
        a {
            font-size: 1.4rem;
        }
    }
}

