.section-3_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 676px;
    background-color: var(--background-color);

    .section-3_label {
        width: 30%;
        height: 265px;
        margin-right: 50px;

        .section-3_label-label {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 22px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
        }

        .section-3_label-header {
            margin: 24px 0;
            font-weight: 500;
            font-size: 4rem;
            line-height: 50px;
            letter-spacing: 0.02em;
            text-transform: uppercase;
        }

        .section-3_label-content {
            font-size: 1.8rem;
            line-height: 26px;
            color: var(--content-color);
            font-weight: lighter;
        }

        .section-3_label-btn {
            margin-top: 50px;
            a {
                border: 1px solid var(--text-color);
                border-radius: 63px;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 19px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                padding: 18px 24px 15px 24px;
            }
            
        }
    }
}





.section-3_img {
    display: flex;
    align-items: center;

    img ~ img {
        margin-left: 15px;
    }

    img:nth-child(1) {
        margin-top: -40px;
    }

    img:nth-child(2) {
        margin-bottom: -100px;
    }
}
